<div class="absolute top-0 right-0 m-4">
    <a href="admin/logout">
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Logout</button>
    </a>
</div>

<body class="bg-gray-100 flex items-center justify-center h-screen">

    <div class="bg-white p-8 rounded shadow-md w-96">
        <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">Create Doctor</h1>

        <form action="/admin/create" method="post">
            <div class="mb-4">
                <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Username:</label>
                <input type="text" id="username" name="username" oninput="verify()"
                    class="border rounded w-full py-2 px-3 focus:outline-none focus:border-blue-500" required>
                <p id="alert" style="color: red;"></p>
            </div>

            <div class="mb-4">
                <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password:</label>
                <input type="password" id="password" name="password"
                    class="border rounded w-full py-2 px-3 focus:outline-none focus:border-blue-500" required>
            </div>

            <button type="submit"
                class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">Create</button>
        </form>

    </div>

</body>

<script>
    const verify = () => {
        axios.post('/admin/verify', {
            username: document.getElementById('username').value
        })
            .then(({ data }) => {
                document.getElementById('alert').innerText = data
            })
    }
</script>