<body class="bg-gray-100 p-8">

    <div class="max-w-md mx-auto bg-white p-8 rounded shadow-md">
        <h1 class="text-2xl font-semibold mb-4">Select Doctor</h1>

        <form action="/admin/delete" method="post" class="space-y-4">
            <div>
                <label for="options" class="block text-sm font-medium text-gray-700">Select Option</label>
                <select id="options" name="options"
                    class="mt-1 p-2 block w-full border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-300">
                    {{#each options}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>

            <button type="submit"
                class="mt-6 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue active:bg-blue-800">
                Delete
            </button>
        </form>
    </div>

</body>