<body class="bg-gray-100 flex flex-col items-center justify-center h-screen">

    <div class="bg-white p-8 rounded shadow-md w-96 text-center">
        <h1 class="text-3xl font-bold mt-5 mb-2 text-gray-800">User Created</h1>
        <p class="text-gray-600">Redirecting... Please Wait</p>
    </div>

</body>

<script>
    setTimeout(() => {
        window.location = "/login"
    }, 3000)
</script>